// Basic
$white: white;
$black: #1a1a1a;
$off_white: #f5f7f8;

// Grey
$grey: #c1cbd2;
$light_grey: #cbd3d9;
$dark_grey: #333537;

// social media
$sina: #ec0117;
$facebook: #4862a3;
$twitter: #4baaf4;
$linkin: #0077b5;
$youtube: #ff0000;

// misc
$error: #dc3545;
$success: #28a745;
$warning: #e0a800;
$info: #17a2b8;
