/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}

body {
	font-size: 1.4rem;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: $dark_grey;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 4rem;
	font-family: main;
	font-weight: 400;
	line-height: 4.8rem;

	@include bp('max-width',575) {
		font-size:3rem;
		line-height: 3.4rem;
	}
}
h2 {
	font-size: 3.2rem;
	font-family: main;
	font-weight: 400;
	line-height: 4rem;

	@include bp('max-width',575) {
		font-size:2.4rem;
		line-height: 2.8rem;
	}
}
h3 {
	font-size: 2.4rem;
	font-family: main;
	font-weight: 400;
	line-height: 2.8rem;

	@include bp('max-width',575) {
		font-size:2rem;
		line-height: 2.4rem;
	}
}
h4 {
	font-size: 1.4rem;
	font-family: main;
	font-weight: 500;
}
h5 {
	font-size: 1.2rem;
	font-family: main;
	font-weight: 500;
}
h6 {
	font-size: 1.1rem;
	font-family: main;
	font-weight: 500;
}
sup {
	font-size: 1rem;
}

hr {
	border: none;
	border-top: 1px solid $light-grey;
	margin: 35px auto;
}